/* ---- reset ---- */ 
body{ margin:0; font-family: 'Roboto Mono', monospace; }
canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #100846; background-image: url(""); background-repeat: no-repeat; background-size: 0%; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }

.container {
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(354deg, rgba(2,0,36,0.3) 0%, rgba(9,9,121,0.2) 10%, rgba(24,143,252,0.2) 100%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.line-1{
    position: absolute;
    top: 50%;  
    left:0;
    right: 0;
    width: auto;
    margin: 0 auto;
    border-right: 2px solid transparent;
    color: #FFF;
    font-size: 92px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.line-2{
    position: absolute;
    top: 50%;  
    left:0;
    right: 0;
    width: auto;
    margin: 0 auto;
    border-right: 2px solid transparent;
    color: #FFF;
    font-size: 6.5vw;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 16s steps(13) 1s infinite normal both,
             blinkTextCursor 500ms steps(13) infinite normal;
}
.anim-typewriter-2{
  animation: typewriter-2 16s steps(22) 1s infinite normal both,
             blinkTextCursor 500ms steps(22) infinite normal;
}
@keyframes typewriter-2{
  0% {width: 0px;visibility: hidden;}
  50% {width: 0px;visibility: hidden;}
  55% {width: 86vw;visibility: visible;}
  90% {width: 86vw;visibility: visible;}
  95% {width: 0vw;visibility: hidden;}
  100% {width: 0vw;visibility: hidden;}
}
@keyframes typewriter{
  0% {width: 0px;}
  5% {width: 720px;}
  40% {width: 720px;}
  45% {width: 0px; visibility: hidden;}
  100% {width: 0px; visibility: hidden;}
}
@keyframes hide{
  0% {display: block;}
  99% {display: block;}
  100% {display: none;}
}
@keyframes blinkTextCursor{
  from{border-right-color: transparent;}
  to{border-right-color: rgba(255,255,255,.75);}
}